


.headerClass {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #9575CD !important;
    border-radius: 0.3rem;
    color: aliceblue;
}

.footer{
    padding: 2rem 1rem;
    background-color: #D1C4E9 !important;
    border-radius: 0em;
    width: 100%;
    height: fit-content;
}


